/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    padding: 1rem 2rem;
}
#main-title{
    color: black;
    font-size: 3rem;
    font-weight: 900;
    display: inline-block;
    vertical-align: middle;
}
main{
    background-color: white;
    height: 700px;
    padding-top: 4rem;
}
.taskbar{
    padding: 1rem ;
}
img{
    height: 100%;
    vertical-align: middle;
}
.to-do-list{
    background-color: white;
    height: 500px;
    width: 70%;
    margin: 3 rem auto;
}
