/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 100px;
    padding: 1rem 2rem;
}
#main-title{
    color: black;
    font-size: 3rem;
    font-weight: 900;
    display: inline-block;
}
img{
    height: 100%;
    vertical-align: bottom;
    
}
.header-botton{
position: absolute;
left: 10%;
right: 10%;
top: 10%;
}
button{
    background-color: #47adf1;
    color: white;
    border-radius: 10%;
}
span{
    color: white;
    }
h3{
    font-size: 150%;
    color: #434750;
}
h4{
    font-size: 120%;
    color: #585c63;
}
.counter{
    background-color: #45abea;
    border-radius: 10%;
    padding: 0rem;

    
}
.counter2{
    background-color: #45abea;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter3{
    background-color: #9b71e4;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter4{
    background-color: #64c0a9;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter5{
    background-color: #f29e33;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter6{
    background-color: #d863a1;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter7{
    background-color: #b0c926;
    border-radius: 10%;
    padding: 0rem;
    
}
.counter8{
    background-color:   #45abea;
    border-radius: 10%;
    padding: 0rem;
    
}