/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 100px;
    padding: 1rem 2rem;
}
#main-title{
    color: black;
    font-size: 3rem;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
}

